beautifulsoup4>=4.9.3
bokeh>=2.3.0
chart-studio>=1.1.0
folium>=0.12.1
geopy>=2.1.0
ipympl>=0.7.0
keras>=2.4.3
matplotlib>=3.3.4
nltk>=3.5
numpy>=1.19.5
opencv-python>=4.5.1.48
pandas>=1.2.3
patsy>=0.5.1
plotly>=4.14.3
pygeohash>=1.2.0
pymupdf>=1.18.10
scikit-image>=0.18.1
scikit-learn>=0.24.1
scipy>=1.6.2
sqlalchemy
statsmodels>=0.12.2
seaborn>=0.11.1
tensorflow>=2.4.1
wordcloud>=1.8.1
threatexchange>=0.0.16
